
 <div class="row">
   <div class="col s1 offset-s2">subjects</div>
   <div class="col s1 offset-s6"><span class = "flow text">newsubjects</span>
    <%= link_to '+', '#',class:"btn-floating btn-large waves-effect waves-light",id:"buton"%>
   </div>
 </div> 


   <div id="text-field" class="row text-field">
    <%= render 'form', subject: @subject %>
  </div>

 <% @subjects.each do |subject| %>
 <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i><%= subject.name %></div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
 <% end %>
 
   

<!--  <script>

$(document).ready(function(){
    $('.btn-floating.btn-large ').click(function(e) {
 $('#text-field').removeClass("text-field");
 e.preventDefault();
 // alert('hai');
});
});
</script>  -->
