<!-- <h1>Subjects#show</h1>
<p>
  <strong>New Subject:</strong>
  <%= @subject.name %>
</p> -->

 <ul class="collapsible" data-collapsible="accordion">

    <li>

      <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i><%= @subject.name %></div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
   
  </ul>
 
